# Archivos sensibles
.env
secret.txt

# Archivos temporales
*.pyc
__pycache__/

# Replit
.replit
*.replit
.replit.*
*.sqlite3
*.db

# Logs
*.log

# Configuración local
.vscode/
*.swp

# Otros
.DS_Store
*.kk
